<!DOCTYPE html>
<html lang="en">
  <head>
   <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="static/bootstrap-3.3.2-dist/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="static/bootstrap-3.3.2-dist/js/bootstrap.min.js"> 
  </script>
    {% if title %}
    <title>{{ title }} VizQuiz App</title>
    {% else %}
    <title>Visual Quiz</title>
    {% endif %}
  </head>
  <body>

    <div class ="row">
      <div class="col-xs-1"></div>
      <div class="col-sm-2"> <img src="static/EDC_logo.png" alt = "EDC logo"></div>
    </div>
    <div>Visual Quiz:
        <a href="{{ url_for('index') }}">Home</a>
        {% if g.user.is_authenticated() %}
        | <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
